development:
  secret_key_base: FILL_IN_YOUR_SELF (try "rack secret")
  github_client_id: FILL_IN_YOUR_SELF (see config/projects/github.yml)
  github_client_secret: FILL_IN_YOUR_SELF
 
test:
  secret_key_base: FILL_IN_YOUR_SELF
 
production:
  secret_key_base: FILL_IN_YOUR_SELF